li{
  color:blue;
}
.em{
  text-decoration:underline;
}
#control{
  float:none;
}
.black{
  background-color:black;
  color: white;
}
.white{
  background-color:white;
  color: black;
}
.header{
  border-bottom: 1px solid gray;
  padding: 20px;
}
